.splom .axis {
  shape-rendering: crispEdges;
}

.splom .axis line {
  stroke: #ddd;
  stroke-width: .5px;
}

.splom .axis path {
  display: none;
}

.splom rect.extent {
  fill: #000;
  fill-opacity: .125;
  stroke: #fff;
}

.splom rect.frame {
  fill: #fff;
  fill-opacity: .7;
  stroke: #aaa;
}

.splom circle {
  fill: #ccc;
  fill-opacity: .5;
}